{% extends "base.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}
        
{% block content %}

    <div style="height: 100vh">
        <div class="flex-center flex-column">
            <h1 class="animated fadeIn mb-4">Django Channels Chat App</h1>
            <p class="animated fadeIn">Which room would you like to enter ?</p>

            <!-- Material input -->
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input id="room-name-input" type="text" id="inputIconEx2" class="form-control">
                <label for="inputIconEx2">Room</label>
                <button id="room-name-submit" type="submit" class="btn btn-primary btn-md">Enter</button>
            </div>

            <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>

            <p class="animated fadeIn text-muted">Alexmhack Team</p>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script type="text/javascript" charset="utf-8" async defer>
        var roomName = $("#room-name-input").focus();

        $("#room-name-input").keyup(function(e) {
            if (e.keyCode === 13) {
                $("#room-name-submit").click();
            }
        });

        $("#room-name-submit").click(function(e) {
            var roomName = $("#room-name-input").val();
            window.location.pathname = '/chat/' + roomName + '/';
        })
    </script>

{% endblock %}
